<div class="container">
<h1>Random Beer</h1>
<div class="row-random-beer">
  <h2>{{randomBeer.name}}</h2>
  <img src="{{randomBeer.image_url}}" alt="{{randomBeer.name}}" style="height: 200px;">
   <p>{{randomBeer.description}}</p>
<p>{{randomBeer.tagline}}</p>
<p>{{randomBeer.food}}</p>
<p>{{randomBeer.brew}}</p>
</div>
</div>

